/* COLORS */

/* #8A44FF - purple */
/* #FDAF17 - orange */
/* #f5c500 - yellow button hover */
/* #CFB3FF - lavender */


/* The margins and padding could be refactored a bit, esp in the recipes */


/****1. SETUP****/
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/****2. BASE STYLES****/
html {
    font-size: 62.5%; /* 10px  */
}

body {
    position: relative;
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #222;
    background-color: #FFE45E;
    background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
    text-align: center;
}


/****3. STRIPPING STYLES****/
body, 
h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/****4. TYPOGRAPHY STYLES****/
h1, h2, h3, h4 {
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
}


h1 {
  margin: 20px auto;
  font-size: 5rem;
  text-transform: uppercase;
  filter: drop-shadow(-4px -2px orange) drop-shadow(-1px -2px 1px hotpink);
  letter-spacing: 5px;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
}

.result h2,
h3 {
  font-weight: 500;
  font-size: 3.5rem;
  color:#4B228F ;
  filter: drop-shadow(2px 3px orange) drop-shadow(1px 1px hotpink);
  letter-spacing: 3px;
  text-transform: uppercase;
}

h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}


/****5. BUTTON STYLES****/
.button {
  text-transform: uppercase;
  padding: 15px 50px;
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
}  

.accent.button {
  background-color: #8A44FF;
  background: linear-gradient(270deg, rgba(75,34,143,1) 0%, rgba(138,68,255,1) 100%);
  background-size: 300% 100%;

  color: white;
  font-size: 2rem;
  letter-spacing: 3px;
  
  text-shadow: 1px 1px black;
  filter: drop-shadow(2px 2px 1px hotpink) drop-shadow(10px 8px 0px #FDAF17);
}

    .accent.button:hover,
    .accent.button:focus {
      /* moves the gradient to the left on hover */
      background-position: 50% 0;
    }

/* Start the quiz button */
.start.accent.button {
  display: flex;
  align-items: center;
}

.choice.button {
  margin: 0 20px;
  background-color: #FDAF17;
  font-size: 1.7rem;
  font-weight: 700;
  filter: drop-shadow(1px 2px 1px hotpink);
}

    .choice.button:hover,
    .choice.button:focus {
      background-color: #FF9000
    }

    .choice.button:active {
      background-color: #FF9000
    }



/****6.MAIN STYLES*****/
header {
  height: 9vh;
}

main {
  background-image: url(./assets/cheeseBG.jpg);
  background-size: 40%;
}

.wrapper {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}



/****7. QUIZ****/
.quiz {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(255, 228, 94, 0.75);
  margin: 50px auto;
  padding: 30px 20px;
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
}

.card * {
  margin: 25px auto;
}

.start span {
  margin: 0;
}

.cheeseIcon {
  margin: 0;
  animation: cheese-rotate 1s infinite;
}

/* questions and the result card are hidden at the start of the quiz */
.question,
.result {
    display: none;
}



/****8. RESULT****/
.result {
  display: none;
}

.cheese-img {
  max-width: 300px;
}

.cheese-img img {
  border-radius: 50%;
  filter: contrast(90%);
}



/****9. RECIPES****/
.recipes-container {
  margin-top: 70px;
}

.recipes-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.recipe {
  width: 23%;
  margin: 1%;
  background: rgba(253, 175, 23, 0.7);
  border-radius: 10px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe * {
  margin: 10px 0;
}

.recipe-img {
  filter: contrast(90%);
  margin: 0;
}

.recipe-link {
  background: rgb(75, 34, 143);
  /* background-image: linear-gradient(270deg, rgb(75, 34, 143) 0%, rgb(138, 68, 255) 100%); */
  color: white;
  padding: 13px 20px;
  text-transform: uppercase;
  font-size: 1.6rem;
  transition: all 0.3s ease-in;
  border-radius: 5px;
}

  .recipe-link:hover,
  .recipe-link:focus {
    background: rgb(138, 68, 255);
  }

/****10. FOOTER - COPYRIGHT****/
.copyright {
  margin: 5px auto;
  font-size: 1.2rem;
  font-weight: 300;
  /* height: 15vh; */
}

/****11. ANIMATIONS****/
/* animation for cheese icons on the start button */
@keyframes cheese-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/****12. MEDIA QUERIES****/
